@tailwind base;
@tailwind components;
@tailwind utilities;

textarea#story {
  -moz-appearance:none;
  outline:0px none transparent;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
}

html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
